body{
    font-family: "open_sans";
    margin : 0 0;
    vertical-align: top;
    font-size: 16px;
}
a{
    text-decoration:none;
}
.middle{
    text-align: center;
}

.left{
    text-align: left;
}

.left-pad{
    padding-left: 8%;
}

header{
    display:flex;
    position:sticky;
    top:0;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

#logo img{
    margin : 20px 15px 15px 0;
    height: 30px;
}

.img-logo:hover{
    animation: secouer 1s linear ;
}

nav ul{
    list-style-type: none;
    margin : auto;    
    display: flex;
    flex-wrap: nowrap;
}
nav li{
    float:left;
    margin: 0 15px;
    text-align:center;
}
nav{
    margin-right: 150px;
}
nav a{
    display:block;
    color:black;
    width: max-content;
    font-weight: 400;
}
nav a:hover{
    text-decoration: underline;
}

nav ul::after{
    content:"";
    display: table;
    clear:both;
}


#partie_presentation{
    background-image: url("../img/illustration_principale.jpg");
    height:800px;
    background-size: 150%;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-origin: border-box;
    padding-top: 15px;
}
h1{
    font-weight: bold;
    font-family: "poppins";
}

.slogan{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 85px;
}
.saumon{
    color:salmon;
}
h2{
    font-size:5em;
    color: white;
    font-family: "volkhov";
    margin: 40px 0;
    line-height: 1.3em;
}
.nom{
    font-family:"poppins";
}
.presentation{
    font-family: "poppins";
    width : 480px;
    line-height: 2em;
    font-weight: bold;
}
.gris{
    color:gray;
}

.violet {
    color : rgb(133, 112, 223);
}

.lien_carte{
    border : 1px solid rgb(218, 163, 11);
    border-radius: 10px;
    font-size: 18px;
    line-height: 2.5;
    padding: 2px 20px;
    text-align: center;
    text-shadow: 0 0 2px white;
    background-color: rgb(218, 163, 11);
    color : white;
    transition-property: all;
    transition-duration: 0.5s;
}

.lien_carte:hover{
    transform-origin: 50% 50%;
    transform: scale(1.1);   
    background-color: rgb(189, 141, 8);
}

#nouveautes{
    height:1400px;
    background-image: url("../img/decor_1.svg");
    background-position: top right 30px;
    background-repeat: no-repeat;
}
#nouveautes p{
    font-size: 18px;
    padding-top: 100px;
    font-weight: bold;
    margin-bottom: 15px;
}
h3,h4{
    font-family:"volkhov";
    font-weight: bold;
    font-size: 3em;
    color:rgb(5, 5, 37);
    margin:0;
}

.souligne{
    background-image: url("../img/souligne_rose.svg");
    background-position: bottom 10px left;
    background-size: 100%;
    background-repeat: no-repeat;
}

#plats{
    display: flex;
    margin: 40px auto;
    max-width: 950px;
    background-image: url(../img/decoration_filet.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding : 0 10px;
}
#plats figure{
    border-radius: 20px;
    box-shadow: 0 0 30px -5px rgb(228, 228, 228);
    margin: 20px;
    overflow: hidden;    
    background-color: white;
}
#plats img{
    width : 280px;
}
figcaption{
    color: gray;
    font-size: 18px;
    line-height: 1.5;
    margin : 20px 0;
}
#maki{    
    display: flex;
    margin: 110px auto;
    overflow: visible;
    flex-wrap: wrap;
    justify-content: center;
}

#maki figure{  
    border-radius: 20px;
    padding : 20px 40px;
    margin :0;
}

#maki figcaption span{
    color:rgb(5, 5, 37);
    font-weight: bold;
    line-height: 4em;
}

#maki figure:hover{
    box-shadow: 0 0 30px -5px rgb(228, 228, 228);
    background-image: url("../img/decoration_rose.svg");
    background-position: bottom left;
    background-repeat: no-repeat;
}


#chef{
    height:2800px;
    background-image: url("../img/illustration_chef.jpg"), url("../img/illustration_commander.jpg");
    background-size: auto 1600px, auto 1200px;
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center;
    overflow: visible;
}

.marg-left{
    margin-left: 8%;
}

#video_presentation{
    padding : 120px 0;
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chef video{    
    border-radius: 30px;
    width : 360px;
}

#play{
    width : 100px;
    border-radius: 50%;
    background-color:white;
    position: absolute;
    padding: 3px;
}

#chef h2{
    width:600px;
}
#histoire{
    width: 400px;
    line-height: 2em;
    color: white;
    font-family: "poppins";
    margin-bottom: 200px;
    margin-left: 8%;
}

.float_left{
    float : left;
}
.lancement{
    text-transform: uppercase;
    font-size: 20px;  
    font-weight: bold;
    clear:both;
    padding-top: 120px;
}

.logo{
    height: 70px;
    padding-right: 30px;
}

#commandes_idees{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    padding : 40px 0;
    align-items: center;
}

#commandes_idees a{
    width: 100%;
}

#commandes_idees p{
    font-size: 18px;
    display: inline-block;  
}
#commandes_idees span{
    color:rgb(5, 5, 37);
    font-weight: bold;
}

h5{
    font-size: 1.2em;
    margin:0.5em 0;
    font-weight:bold;
}
.exemple{
    color:grey;
}
#fiche_de_contact{
    width:65%;
    height: 550px;
    display:flex;
    border-radius: 40px;
    box-shadow: 0 0 1px grey;
    margin:40px auto;
    max-width: 1045px;
    margin-bottom: 120px;
}
#formulaire{
    padding:50px;
    width: 50%;
    box-sizing: border-box;  
    flex-wrap: nowrap;
}

input{
    border-width:0 0 1px 0;
    margin-bottom : 30px;
}

input[type="submit"]{
    border:1px;
    border-color:rgb(34, 139, 224);
    background-color: rgb(34, 139, 224);
    color:white;
    padding:15px 20px 15px 50px;
    border-radius:10px;
    background-image: url("../img/bouton_formulaire_coche.svg");
    background-repeat: no-repeat;
    background-position: center left 15px;
    font-size: 18px;
}

#identite{
    display: flex;
    justify-content: space-between;
}
form div div{
    width:45%;
}

div{
    overflow: hidden;    
}

#message, #mail, #identite{
    width:100%;
}

footer{
    background-color: rgb(243, 243, 243);
    padding-top: 60px;
    color :rgb(133, 112, 223);
    font-size: 18px;
}
footer p {
    margin:0;
}
#boite_final{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
#description{
    display: flex;
    flex-flow: column;
    text-align: left;
    padding : 0 40px;
}

#description img{
    height: 50px;
    margin: 10px;
}

#description p{
    padding : 10px;
}

table{
    empty-cells: hide;
    text-align: left;
}

table a{
    text-transform: none;    
    color :rgb(133, 112, 223);
}
table th{
    color: black;
    padding: 0 40px 20px 0;
    font-size: 22px;
}

table td{
    padding : 5px 0;
}

#appli_fin{
    width : 300px;
    text-align: left;
    padding: 10px 20px;
}
#appli_fin figure{
    width: 100%;
    margin : 0;
}

#appli_fin figcaption{
    margin : 10px 0;
}
#appli_fin figure img{
    width : 180px;
}

.lien_fin_page{
    border-radius: 15%/50%;
    color :white;
    background-color: black;
    font-size: 10px;
    border-color: black;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width : 130px;
    margin : 20px 0;
    padding : 8px;
}
#fin{
    padding : 20px;
    font-size: 15px;
}