body{
    font-family: "open_sans";
    margin : 0 0;
    vertical-align: top;
    font-size: 16px;
}
a{
    text-decoration:none;
}
.middle{
    text-align: center;
}

.left{
    text-align: left;
}

.left-pad{
    padding-left: 8%;
}

header{
    display:flex;
    position:sticky;
    top:0;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

#logo{
    padding-left: 10px;
}

#logo img{
    margin : 20px 15px 15px 0;
    height: 30px;
}

.img-logo:hover{
    animation: secouer 0.5s linear 1 alternate ;
}

@keyframes secouer{
    from{
        transform-origin: 50% 50%;
        transform: rotate(0);
    }
    20%{
        transform-origin: 50% 50%;
        transform: rotate(20deg);
    }

    40%{
        transform-origin: 50% 50%;
        transform: rotate(-15deg);
    }
    60%{
        transform-origin: 50% 50%;
        transform: rotate(10deg);
    }
    80%{
        transform-origin: 50% 50%;
        transform: rotate(-5deg);
    }
    to{
        transform-origin : 50% 50%;
        transform: rotate(0);
    }
}

header > a{
    display: none;
}

nav ul{
    list-style-type: none;
    margin : auto;    
    display: flex;
    flex-wrap: nowrap;
}
nav li{
    flex : 1 1 auto;
    position:relative;
    margin: 0 10px;
    text-align:center;
}
nav{
    margin-right: 150px;
}
nav a{
    display:block;
    color:black;
    width: max-content;
    font-weight: 400;
}
nav a:hover{
    text-decoration: underline;
}

nav ul::after{
    content:"";
    display: table;
    clear:both;
}

.menu > label, .menu > input{
    display: none;
}

.menu > input[type=checkbox]:checked + ul, ul ul{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
}

#partie_presentation{
    background-image: url("../img/illustration_principale.jpg");
    height:800px;
    background-size: 150%;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-origin: border-box;
    padding-top: 15px;
}
h1{
    font-weight: bold;
    font-family: "poppins";
}

.slogan{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 85px;
}
.saumon{
    color:salmon;
}
h2{
    font-size:5em;
    color: white;
    font-family: "volkhov";
    margin: 40px 0;
    line-height: 1.3em;
}
.souligne{
    background-image: url("../img/souligne_rose.svg");
    background-position: bottom 10px left;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-right: 150px;
}

.nom{
    font-family:"poppins";
}
.presentation{
    font-family: "poppins";
    width : 480px;
    line-height: 2em;
    font-weight: bold;
}
.gris{
    color:gray;
}

.violet {
    color : rgb(133, 112, 223);
}

.lien_carte{
    border : 1px solid rgb(218, 163, 11);
    border-radius: 10px;
    font-size: 18px;
    line-height: 2.5;
    padding: 2px 20px;
    text-align: center;
    text-shadow: 0 0 2px white;
    background-color: rgb(218, 163, 11);
    color : white;
    transition-property: all;
    transition-duration: 0.5s;
}

.lien_carte:hover{
    transform-origin: 50% 50%;
    transform: scale(1.1);   
    background-color: rgb(189, 141, 8);
}

#nouveautes{
    height:1400px;
    background-image: url("../img/decor_1.svg");
    background-position: top right 30px;
    background-repeat: no-repeat;
}
#nouveautes p{
    font-size: 18px;
    padding-top: 100px;
    font-weight: bold;
    margin-bottom: 15px;
}
h3,h4{
    font-family:"volkhov";
    font-weight: bold;
    font-size: 3em;
    color:rgb(5, 5, 37);
    margin:0;
}

#plats{
    display: flex;
    margin: 40px auto;
    max-width: 950px;
    background-image: url(../img/decoration_filet.svg);
    background-position: center right;
    background-repeat: no-repeat;
    justify-content: center;
    padding : 0 10px;
}
#plats figure{
    border-radius: 20px;
    box-shadow: 0 0 30px -5px rgb(228, 228, 228);
    margin: 20px;
    overflow: hidden;    
    background-color: white;
}
#plats img{
    width : 280px;
}
#plats figcaption{
    color: gray;
    font-size: 18px;
    line-height: 1.5;
    margin : 20px 0;
}
#maki{  
    display: flex;
    margin: 110px auto;
    overflow: visible;
    flex-wrap: wrap;
    justify-content: center;
}

#maki figure{  
    border-radius: 20px;
    padding : 20px 40px;
    margin :0;
    position: relative;
}

#maki figure figcaption{
    width : 150px;
}

#maki figcaption span{
    color:rgb(5, 5, 37);
    font-weight: bold;
    line-height: 4em;
    display: block;
}

#maki figure:hover{
    box-shadow: 0 0 30px -5px rgb(228, 228, 228);
    background-color: white;
}

.decoration_maki{
    position:absolute;
    left:-40px;
    bottom:-40px; 
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    z-index: -1;
}

#maki figure:hover > .decoration_maki{
    transform-origin: 50% 50%; 
    transform: rotate(0deg);
    opacity: 1;
}

#chef{
    height:2800px;
    background-image: url("../img/illustration_chef.jpg"), url("../img/illustration_commander.jpg");
    background-size: auto 1600px, auto 1200px;
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center;
    overflow: visible;
}

.marg-left{
    margin-left: 8%;
}

#video_presentation{
    padding : 120px 0;
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chef video{    
    border-radius: 30px;
    width : 360px;
}

#play{
    width : 100px;
    border-radius: 50%;
    background-color:white;
    position: absolute;
    padding: 3px;
}

#play:hover{
    filter:sepia(30%);
}

#chef h2{
    width:600px;
}

#histoire{
    width: 400px;
    line-height: 2em;
    color: white;
    font-family: "poppins";
    margin-bottom: 200px;
    margin-left: 8%;
}

.float_left{
    float : left;
}

.lancement{
    text-transform: uppercase;
    font-size: 20px;  
    font-weight: bold;
    clear:both;
    padding-top: 120px;
}

.logo{
    height: 70px;
    padding-right: 30px;
}

#commandes_idees{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    padding : 40px 0;
    align-items: center;
}

#commandes_idees a{
    width: 100%;
}

#commandes_idees p{
    font-size: 18px;
    display: inline-block;  
}

#commandes_idees span{
    color:rgb(5, 5, 37);
    font-weight: bold;
}

h5{
    font-size: 1.2em;
    margin:0;
    font-weight:bold;
}

.exemple{
    color:grey;
    margin:0;
}

#fiche_de_contact{
    height: 560px;
    display:flex;
    border-radius: 40px;
    box-shadow: 0 0 30px -20px grey;
    margin:40px auto;
    max-width: 1060px;
    margin-bottom: 120px;
    justify-content: space-between;
}

#formulaire{
    padding:50px;
    width:50%;
    box-sizing: border-box;  
    flex-wrap: nowrap;
}

#formulaire > *{
    padding : 10px 10px;
}

input{
    border-width:0 0 1px 0;
    margin-bottom : 10px;
    padding : 1px 0;
    transition-duration: 0.5s;
    box-sizing: border-box;
    width: 100%;
}

input:hover{
    transform: scale(1.03);
}

input:focus{
    border-color: blue;
    padding-bottom:2px;
    transform: scale(1);
    border-width: 0 0 1px 0;
    outline: none;
}

input[type="submit"]{
    border:1px;
    border-color:rgb(34, 139, 224);
    background-color: rgb(34, 139, 224);
    color:white;
    padding:15px 20px 15px 50px;
    border-radius:10px;
    background-image: url("../img/bouton_formulaire_coche.svg");
    background-repeat: no-repeat;
    background-position: center left 15px;
    font-size: 18px;
    width:auto
}

input[type="submit"]:hover{
    background-color: rgb(85, 176, 250);
}

#identite{
    display: flex;
    justify-content: space-between;
    padding : 0;
}

#identite > div{
    padding: 10px;
    width : 50%;
}

div{
    overflow: hidden;    
}

#message, #mail, #identite{
    width:100%;
}

footer{
    background-color: rgb(243, 243, 243);
    padding-top: 60px;
    color :rgb(133, 112, 223);
    font-size: 18px;
}
footer p {
    margin:0;
}

#boite_final{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#description{
    display: flex;
    flex-flow: column;
    text-align: left;
    padding : 0 40px;
}

#description img{
    height: 50px;
    margin: 10px;
}

#description p{
    padding : 10px;
}

table{
    empty-cells: hide;
    text-align: left;
}

table a{
    text-transform: none;    
    color :rgb(133, 112, 223);
}

table a:hover{
    text-decoration: underline;
}

table th{
    color: black;
    padding: 0 40px 20px 0;
    font-size: 22px;
}

table td{
    padding : 5px 0;
}

#appli_fin{
    width : 300px;
    text-align: left;
    padding: 10px 20px;
    
}

#appli_fin figure{
    width: 100%;
    margin : 0;
}

#appli_fin figcaption{
    margin : 10px 0;
}

#appli_fin figure img{
    width : 180px;
}

.lien_fin_page{
    border-radius: 15%/50%;
    color :white;
    background-color: black;
    font-size: 10px;
    border-color: black;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width : 130px;
    margin : 20px 0;
    padding : 8px;
    transition-duration: 0.5s;
}

.lien_fin_page:hover{
    transform: scale(1.1);
}

#fin{
    padding : 20px;
    font-size: 15px;
}

@media screen and (max-width : 979px){

    .menu ul{
        display:none;
        list-style-type: none;
        background-color:white;     
    }

    .menu input[type=checkbox]:checked + ul{
        display: flex;
        flex-flow : column wrap;
        padding: 20px;
        align-items: center;
    }

    .menu li{
        background-color: aliceblue;
        border-radius: 10%;
        font-size: 20px;
        padding:10px;
        border-width: 10px;
    }

    .menu label{
        display : inline-block;
        padding:10px 7%;
        text-align: center;
    }

    .menu{
        position :absolute;
        width: 100%;
        top : 13px;
        left:0;
    }

    nav{
        order : 1;
        margin : 0 10px;
    }

    header>#logo{
        order : 2;
    }

    header>#logo img{
        margin-right : 5px;
    }

    header > a{
        order : 3;
        display: inline-block;
        padding-right: 7%;
    }

    #partie_presentation{
        background-size: auto 100%;
    }
}

@media screen and (max-width : 779px){
    #partie_presentation{
        height: 500px;
        text-align: center;
        padding-left: 0;
    }
    .slogan{
        padding-top: 20px;
        font-size: 0.9em;
    }

    .souligne{
        padding: 0 50px;
    }

    h2{
        font-size: 3em;
        margin : 20px 0;
    }

    .presentation{
        font-size: 1em;
        width : 100%;
        box-sizing: border-box;
        padding: 0 10%;
        text-align: center;
        color: whitesmoke;
        line-height: 1.2em;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .lien_carte{
        padding: 10px 20px;
        font-size: 20px;
    }
    
    #nouveautes{
        background: none;
    }

    #nouveautes > p{
        padding-top: 35px;
        margin: 5px;
        font-size: 1em;
    }

    h3{
        font-size: 1.5em;
    }

    #plats figure{
        display: none;
    }

    #plats figure:first-child{
        display: inline-block;
    }

    #plats{
        background: none;
        margin:0;
    }

    #plats figure figcaption{
        font-size: 1em;
        margin : 10px;
    }

    #maki{
        margin : 80px 20px 30px;
        flex-flow: column;
        align-items: flex-start;
    }

    #maki figure{
        padding : 0;
        text-align : left;
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    #maki figure>img{
        width: 100px;
    }

    #maki figure figcaption{
        width: 200px;
    }

    .decoration_maki{
        display:none;
    }

    #maki figure span{
        line-height: 1em;
    }
}